@font-face {
    font-family: Brandon;
    src: url(../font/brandon_bld-webfont.woff) format('woff'),
        url(../font/brandon_bld-webfont.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: Brandon;
    src: url(../font/brandon_blk-webfont.woff) format('woff'),
        url(../font/brandon_blk-webfont.woff2) format('woff2');
    font-weight: 800;
}
