// Color Variables
$white-color: #fff;
$primary-color: #009EAD;
$secondary-color: #fccc00;
$black-color: #313234;
$gray-color: #666;

// Primary Font
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Brandon', sans-serif;

// Bootstrap Related Variables
$grid-columns: 14;
$grid-gutter-width: 30px;
